$font-family: 'Poppins', sans-serif;

$color-background: #4F7476;
$color-text: #EBF3DF;
$color-grey-light: #ededed;
$color-grey-dark: rgb(90, 90, 90);
$color-black: #292B27;
$color-blue: #538CCE;



$bp-largest: 68.75em; // 1200px
$bp-large: 60em; // 950px 
$bp-medium: 53em; // 850ish
$bp-small: 43.75em; //700px
$bp-smallest: 31.25em; //500px
$bp-last: 28.125em; //440px just for composition text