// .margin_top_big, .margin_bottom_small, border-radius, etc..

.u_center {
  text-align: center;
}

.u_right {
  text-align: right;
}

.u-left {
  text-align: left;
}

.u_margin_right {
  margin-right: 7rem;
}

.u_margin_left {
  margin-left: 7rem;
}

.u_margin_bottom_small {
  margin-bottom: 1rem;
}

.u_margin_bottom_medium {
  margin-bottom: 2rem;
}
.u_margin_bottom_big {
  margin-bottom: 3rem;
}
.u_margin_bottom_huge {
  margin-bottom: 4rem;
}

